:root {
  --bg-dark: #242949;
  --bg-footer: #1a1d3a;
  --text-main: #b599ee;
  --neon-glow: #bc13fe;
  --text-neon: rgb(238, 215, 238);
  --text-white: aliceblue;
  --font-main: "Outfit", sans-serif;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: var(--font-main);
  margin: 0px;
}

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 100%;
  max-width: 1500px;
  padding: 0 20px;
  font-size: 0.9rem;
  color: var(--text-neon);
  text-shadow:
    0 0 2px var(--text-main),
    0 0 10px var(--text-main),
    0 0 1px var(--text-main),
    0 0 42px var(--neon-glow),
    0 0 20px var(--neon-glow);

  animation: flicker 7s infinite alternate;
}

#first-section {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

#first-section p {
  color: var(--text-white);
}

#search {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

#search-input {
  background-color: var(--bg-dark);
  border: solid 0.1rem var(--text-main);
  padding: 20px;
  width: 40vw;
  color: var(--text-white);
  transition: all 0.3s ease-in-out;
  outline: none;
  border-radius: 24px 0 0 24px;
  border-right: none;
}

#search-input:hover {
  background-color: var(--text-main);
  box-shadow: 0 0 15px var(--neon-glow);
}

#search-button {
  background-color: var(--bg-dark);
  border: solid 0.1rem var(--text-main);
  padding: 20px 30px;
  color: var(--text-neon);
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 0 24px 24px 0;
  border-left: none;
}

#search-button:hover {
  background-color: var(--text-main);
  box-shadow: 0 0 15px var(--neon-glow);
  color: var(--bg-footer);
}

main {
  width: 100%;
  max-width: 1560px;
  padding: 40px 30px;
  flex-grow: 1;

  box-sizing: border-box;
}

.tabs-container {
  display: flex;
  gap: 10px;
  padding-left: 32px;
  margin-bottom: -1px;
  position: relative;
  z-index: 10;
}

.tab-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: #aeb2d6;
  padding: 20px 48px;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 24px 24px 0 0;
}

.tab-button:hover {
  color: var(--text-white);
  background: rgba(255, 255, 255, 0.05);
}

.tab-button.active {
  background: rgba(30, 34, 60, 0.2);
  backdrop-filter: blur(20px);
  color: var(--text-neon);
  text-shadow:
    0 0 2px var(--text-main),
    0 0 10px var(--text-main),
    0 0 1px var(--text-main),
    0 0 42px var(--neon-glow),
    0 0 20px var(--neon-glow);
  border: 1px solid rgba(181, 153, 238, 0.3);
  border-bottom-color: rgba(30, 34, 60, 0.09);
  box-shadow: 0 -10px 20px rgba(188, 19, 254, 0.1);
}

.glass-window {
  background-color: rgba(30, 34, 60, 0.4);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 0 24px 24px 24px;
  padding: 50px;
  min-height: 60vh;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

.tab-content {
  display: none;
}

#book-section.active {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 230px));
  gap: 40px;
  width: 100%;

  justify-content: center;
}

#favorite-section.active {
  display: block;
  animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.book-card {
  width: 100%;
  background-color: rgba(30, 34, 60, 0.6);
  backdrop-filter: blur(10px);
  border: rgba(181, 153, 238, 0.3) solid 1px;
  display: flex;
  flex-direction: column;
  color: var(--text-white);
  border-radius: 16px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.book-card:hover {
  transform: translateY(-8px) scale(1.02);
  border-color: var(--text-main);
  box-shadow: 0 0 25px var(--neon-glow);

  z-index: 1;
}

.book-card img {
  height: 320px;
  width: 100%;
  border-radius: 16px 16px 0 0;
  object-fit: fill;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.book-info {
  padding: 0px 15px;
}

.book-card h3 {
  font-size: 1.1rem;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book-card p {
  font-size: 0.9rem;
  color: #aeb2d6;
}

.info-text {
  text-align: center;
  color: var(--text-white);
  font-size: 1.4rem;
  grid-column: 1 / -1;
}

#favorite-title {
  color: #1a1d3a;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-bottom: solid 2px;
  width: 90%;
}

#neon-line {
  height: 2px;
  width: 100%;
  margin: 0px;
  margin-top: 60px;
  border: 0;
  background-color: var(--text-main);
  position: relative;
  z-index: 10;

  box-shadow:
    0 0 5px var(--text-main),
    0 0 10px var(--neon-glow),
    0 0 20px var(--neon-glow);
}

footer {
  background-color: var(--bg--footer);
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
}

@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
  }

  aside {
    border-top: 1px solid;
    padding-top: 20px;
  }
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 2px var(--text-main),
      0 0 13px var(--text-main),
      0 0 1px var(--text-main),
      0 0 42px var(--neon-glow),
      0 0 40px var(--neon-glow);
    color: var(--text-neon);
    opacity: 1;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    color: #444;
    opacity: 0.7;
  }
}
